
/* CSS */
body        {
    margin:0px;
    font-family: fantasy;
    }

#conteneur          {
        margin:0;
        }

/* Header  */
#haut                 {
    height: auto;
    position: fixed;
}

#menu                {
    text-align: center;
    background-color: white;
    }


#menu li            {
    list-style-type: none;
    display: inline-block;
}

#menu li a          {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 20px;
    }

#menu li a:hover    {
    background-color: white;
    color: black;
}
#ul                 {margin: 0; padding: 0;}

/* Bannière  */

#banniere            {
    background:url(theme/mainBackground.jpg) no-repeat;
    padding:0;
    margin-top:20px;
    margin-bottom:20px;
    height:400px;
    text-align: center;
    }


#banniere p          {
    padding: 5px;
    }

/* Contenu */

#contenu             {
    display: inline-block;
    width: 600px;
    margin:10px;
    }

#contenu h4         {
    text-transform: uppercase;
    
}

#contenu article     {
    border-style: solid;
    margin: 5px;
    padding: 0 0 0 10px;
    border-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

#contenu article:hover{
    border-color: black;
}

/*  Aside  */

#sidebar            {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
}

#sidebar li         {
    list-style-type: none;
    display: block;
}

.logo                {
    width: 250px;
    height: 100px
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

.logo:hover         {
    border-style: ridge;
}

/*  Footer  */

#footer             {
    background-color: #31353d;
    width: 100%;
    float: left;
    padding: 90px 0 60px;
}

#adresse p            {
    color: dimgray;
    text-transform: uppercase;
    margin-left: 30px;
}

#contenuTemporaire p    {
    text-decoration-style: double;
    text-align: center;
    border-style: solid;
    margin-left: 100px;
    padding: 200px;
    height: 400px;
    width: 600px;
}