
:root {
  --main-bg-color: #d8d8d8;
  --second-main-color: #31353d;
}

/* CSS */
body        {
    margin:0px;
    font: 400 14px/24px Arial, "Times New Roman", sans-serif;
    background-color: var(--main-bg-color);
    }

#conteneur          {
        margin:0;
        }

/* Header  */
#haut                 {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    margin: -10px 0 0 -30px;
}

#menu                {
    text-align: center;
    }


#menu li            {
    list-style-type: none;
    display: inline-block;
}

#menu li a          {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    }

#menu li a:hover    {
    background-color: white;
    color: black;
}
#ul                 {margin: 0; padding: 15px;}

/* Bannière  */

#banniere            {
    background:url(theme/BG-try-01.jpeg) no-repeat;
    background-size: 100% 100%;
    padding:0;
    margin-top: 0;
    height:750px;
    max-width: 100%;
    text-align: center;
    }

#canvas             {
    position: absolute;
    left: 0;
}

#textbanniere        {
    position: absolute;
    top: 0;
    left: 38%;
    width: auto;
    height: auto;
}


#banniere p          {
    padding: 5px;
    }

/* Contenu */

#contenu             {
    display: inline-block;
    }

#contenu h4         {
    width: 700px;
    border-bottom : 3px solid black;
    border-bottom-color: linear-gradient(60deg, black, var(--main-bg-color));
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 10px;
    background-image:linear-gradient(60deg, white, var(--main-bg-color));
}

#contenu h5         {
    width: 650px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 5px;
    color: dimgray;
    background-color: var(--second-main-color);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

#contenu article     {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    margin-left: 15px;
    padding: 0 0 0 10px;
    border-color: white;
}

.last-article       {
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

#contenu article:hover{
    border-color: black;
}

/*  Aside  */

#sidebar            {
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
    float: right;
    width: 150px;
    margin: 70px 15px 15px 15px;
}

#sidebar ul         {
    margin: 0;
    padding: 0;
}

#sidebar li         {
    list-style-type: none;
    display: block;
}

.logo                {
    width: 150px;
    height: 60px;
    border-style: groove;
    border-color: var(--main-bg-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
}

.logo:hover         {
    border-color: black;
}

/*  Footer  */

#footer             {
    background-color: var(--second-main-color);
    width: 100%;
    float: left;
    margin-top: 15px;
    padding: 50px 0 50px;
}

#adresse p            {
    color: dimgray;
    text-transform: uppercase;
    margin-left: 30px;
}

/* Overlay */

#overlay            {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

#overlay article    {
    margin-top: 100px;
}